<h1>Listagem de Produtos</h1>

<section id="table-width">
  <table>
    <thead>
      <td>Quantidade</td>
      <td>Nome</td>
      <td>Categoria</td>
    </thead>
    <tbody>
      <% @elements.each do |element| %>
      <tr>
        <td><%= puts element.quantidade %></td>
        <td><%= puts element.nome %></td>
        <td><%= puts element.categoria %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
